certificate_key: "{{ lookup('env', 'CERTIFICATE_KEY') }}"
random_token: "{{ lookup('env', 'RANDOM_TOKEN') }}"

kubeadm_config_file: "/etc/kubernetes/kubeadm-config.yaml" 
cni_type: calico # calico, cilium
service_subnet: "192.168.0.0/16" # if you change this, you need to change the calico.yaml file

# calico
calico_node_to_node_encryption: false
calico_chart_version: "{{ lookup('env', 'calico_chart_version') }}" #"v3.29.3"
calico_tiger_operator_version:  "{{ lookup('env', 'calico_tiger_operator_version') }}" #"v1.36.7"

nodes: |
  {% for host in groups['masters'] %}
  {{ hostvars[host]['ip'] }}:2379{% if not loop.last %},{% endif %}
  {% endfor %}

etcd_nodes_endpoints: "{{ nodes | trim}}"
etcd_initial_cluster: "{{ groups['masters'] | map('extract', hostvars, 'ip') | list }}"
etcd_secret_namespace: "glueops-core-kube-prometheus-stack"

kubeconfig_export_path: "./.kube/config"
