apiVersion: kubeadm.k8s.io/v1beta4
kind: JoinConfiguration
nodeRegistration:
    criSocket: unix:///var/run/containerd/containerd.sock
    imagePullPolicy: IfNotPresent
    kubeletExtraArgs:
      - name: "node-ip"
        value: "{{ hostvars[inventory_hostname].ip }}"
discovery:
  bootstrapToken:
    token: "{{ hostvars[orchestrator_node]['common_join_token'].stdout }}"
    apiServerEndpoint: "{{ loadbalancer_apiserver }}:6443"
    caCertHashes:
      - "sha256:{{ hostvars[orchestrator_node]['common_join_hash'].stdout }}"

patches:
  directory: /etc/kubernetes/patches