apiVersion: projectcalico.org/v3
kind: GlobalNetworkPolicy
metadata:
  name: allow-port-web-on-lb-nodes
spec:
  preDNAT: true
  applyOnForward: true
  types:
    - Ingress
  ingress:
    - action: Allow
      protocol: TCP
      destination:
        ports:
          - 80
          - 443
    - action: Allow
      protocol: ICMP
    - action: Deny
 
---

apiVersion: projectcalico.org/v3
kind: GlobalNetworkPolicy
metadata:
  name: allow-all-egress-lb-nodes
spec:
  selector: all()
  types:
    - Egress
  egress:
    - action: Allow