installation:
  enabled: true
  typhaMetricsPort: 9093
  cni:
    type: Calico
  calicoNetwork:
    bgp: Disabled
    ipPools:
    - cidr: {{ calico_network_calico_cidr }} # this should be in podSubnet range
      encapsulation: VXLAN

apiServer:
  enabled: true

# Resource requests and limits for the tigera/operator pod.
resources: {}

affinity:
  nodeAffinity:
    # "preferred" means: Try your best to put it here, but don't fail if you can't.
    preferredDuringSchedulingIgnoredDuringExecution:
    - weight: 100 # A higher weight (1-100) tells the scheduler to prioritize this rule
      preference:
        matchExpressions:
        - key: "glueops.dev/role"
          operator: In
          values:
          - "glueops-platform"

tolerations:
# We must keep this so the pod is allowed to land on the GlueOps node if it's available
- key: "glueops.dev/role"
  operator: "Equal"
  value: "glueops-platform"
  effect: "NoSchedule"
# Optional: Keep your NoExecute eviction protection if desired
- effect: NoExecute
  operator: Exists

# Custom annotations for the tigera/operator pod.
podAnnotations: {}

# Custom labels for the tigera/operator pod.
podLabels: {}

# Image and registry configuration for the tigera/operator pod.
tigeraOperator:
  image: tigera/operator
  version: "{{ calico_tigera_operator_version }}"
  registry: quay.repo.gpkg.io
calicoctl:
  image: dockerhub.repo.gpkg.io/calico/ctl
  tag: "{{ calico_chart_version }}"

defaultFelixConfiguration:
  enabled: {{ calico_node_to_node_encryption | bool }}
  wireguardEnabled: {{ calico_node_to_node_encryption | bool }}
  logSeverityScreen: Info