apiVersion: kubeadm.k8s.io/v1beta4
kind: JoinConfiguration
nodeRegistration:
  criSocket: unix:///var/run/containerd/containerd.sock
  kubeletExtraArgs:
    - name: "node-ip"
      value: "{{ hostvars[node_to_add | default(inventory_hostname)].ip }}"
    - name: "address"
      value: "{{ hostvars[node_to_add | default(inventory_hostname)].ip }}"
    - name: "max-pods"
      value: "250"
    - name: "kube-api-qps"
      value: "50"                          
    - name: "kube-api-burst"
      value: "100"
    - name: "cgroup-driver"
      value: "systemd"
    - name: "system-reserved"
      value: "cpu=100m,memory=256Mi,ephemeral-storage=1Gi"
    - name: "kube-reserved"
      value: "cpu=100m,memory=512Mi,ephemeral-storage=2Gi"
  imagePullPolicy: IfNotPresent
  taints:
    - key: "node-role.kubernetes.io/control-plane"
      value: "false"
      effect: "NoSchedule"

discovery:
  bootstrapToken:
    token: "{{ hostvars[groups['masters'][0]]['join_token'].stdout }}"
    apiServerEndpoint: "{{ loadbalancer_apiserver }}:6443"
    caCertHashes:
      - "sha256:{{ hostvars[groups['masters'][0]]['join_hash'].stdout }}"

controlPlane:
  localAPIEndpoint:
    advertiseAddress: "{{ hostvars[node_to_add | default(inventory_hostname)].ip }}"
    bindPort: 6443
  certificateKey: "{{ certificate_key }}"
  