nodeSelector:
  glueops.dev/role: glueops-platform
tolerations:
  - effect: NoSchedule
    key: glueops.dev/role
    operator: Equal
    value: glueops-platform

defaultArgs:
  - --cert-dir=/tmp
  - --kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname
  - --kubelet-use-node-status-port
  - --metric-resolution=15s
  - --kubelet-insecure-tls