- name: Print Kubeadm join node command
  ansible.builtin.command: kubeadm token create --print-join-command --ttl 10m
  when: inventory_hostname == groups['masters'][0]
  register: join_command
  tags: create_join_command


- name: Get Certificate Key
  ansible.builtin.command: kubeadm token create --ttl 10m
  when: inventory_hostname == groups['masters'][0]
  register: join_token
  tags: create_join_command


- name: Get Join hash
  ansible.builtin.shell: |
    openssl x509 -pubkey -in /etc/kubernetes/pki/ca.crt \
    | openssl rsa -pubin -outform der 2>/dev/null \
    | openssl dgst -sha256 -hex | sed 's/^.* //'
  when: inventory_hostname == groups['masters'][0]
  register: join_hash
  tags: create_join_command

- name: Generate Kubeadm Join configuration
  ansible.builtin.template:
    src: kubeadm-join-config.j2
    dest: /opt/kubeadm_join.yaml
    mode: "0755"
  when: inventory_hostname != groups['masters'][0]
  tags: create_join_command


# copy the join command to the worker node
# - name: Copy the join command to the control node
#   ansible.builtin.copy:
#     dest: /opt/token.sh
#     content: "{{ hostvars[groups['masters'][0]]['join_command'].stdout }}  --control-plane --certificate-key {{ certificate_key }} --apiserver-advertise-address {{ hostvars[inventory_hostname].ip }}"
#     mode: "0755"
#   when: inventory_hostname != groups['masters'][0]
#   tags: create_join_command
