- name: Create Etcd Secret
  ansible.builtin.shell: |
    export KUBECONFIG=/etc/kubernetes/admin.conf
    kubectl create namespace {{ etcd_secret_namespace }} --dry-run=client -o yaml | kubectl apply -f -
    D="$(mktemp -d)"
    cp /etc/kubernetes/pki/etcd/ca.crt $D
    cp /etc/kubernetes/pki/apiserver-etcd-client.crt /etc/kubernetes/pki/apiserver-etcd-client.key $D
    kubectl -n {{ etcd_secret_namespace }} create secret generic etcd-client-certs --from-file="$D"
    rm -fr "$D"
  args:
    creates: /opt/kubernetes/etcd_secret_created