- name: Create calico.yaml file
  ansible.builtin.template:
    src: calico.yaml.j2
    dest: /opt/kubernetes/calico.yaml
    mode: "0644"
  tags: install_calico


- name: Create calico global-network-policy.yaml file
  ansible.builtin.template:
    src: calico-global-network-policy.yaml.j2
    dest: /opt/kubernetes/calico-global-network-policy.yaml
    mode: "0644"
  tags: install_calico

- name: Copy calico felix config
  ansible.builtin.copy:
    content: "addons/felix.yaml"
    dest: /opt/kubernetes/calico-felix.yaml
    mode: "0755"
  tags: install_calico

- name: Copy calico global-network-policy config
  ansible.builtin.copy:
    src: "addons/calico-hostendpoint.yaml"
    dest: /opt/kubernetes/calico-hostendpoint.yaml
    mode: "0755"
  tags: install_calico

- name: Deploy calico with Helm
  kubernetes.core.helm:
    name: calico
    chart_ref: tigera-operator
    chart_version: "{{ calico_chart_version }}"
    chart_repo_url: https://docs.tigera.io/calico/charts
    release_namespace: tigera-operator
    create_namespace: true
    values_files:
      - /opt/kubernetes/calico.yaml
    kubeconfig: /opt/kubernetes/.kube/config
  tags: install_calico

# - name: Apply Calico HostEndpoint manifest for each node
#   ansible.builtin.shell: |
#     export KUBECONFIG=/opt/kubernetes/.kube/config
#     sed 's/node_name/{{ item }}/g' /opt/kubernetes/calico-hostendpoint.yaml | kubectl apply -f -
#   loop: "{{ lb_nodes }}"

# - name: Apply Calico Configs(Felix and Global Network Policy)
#   ansible.builtin.shell: |
#     export KUBECONFIG=/opt/kubernetes/.kube/config 
#     kubectl apply -f /opt/kubernetes/calico-felix.yaml
#     kubectl apply -f /opt/kubernetes/calico-global-network-policy.yaml
#   tags: install_calico